/* First things first */

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;

}

a {
    text-decoration: none;
}

.dropdown {}

/* Style the dropdown button */
.dropbtn {
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Style the links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown content when hovering over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style the dropdown button when hovering */
.dropdown:hover .dropbtn {
    background-color: #2980b9;
}

#headerTopSpans{
    height: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    animation: marquee 3s linear infinite;

    span {
        margin-bottom: 20px;
    }
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    margin: 2vh;
    gap: 5vh;

    #headerContainerTop {
        display: flex;
        justify-content: space-between;
        border-bottom: solid 2px #ececec;
        padding-bottom: 2vh;

        nav {
            ul {
                display: flex;
                gap: 15px;
                list-style-type: none;

                li {
                    a {
                        color: #7E7E7E;

                        &:hover {
                            color: #000;
                        }
                    }
                }
            }
        }

        #headerDropdown {
            display: flex;
            gap: 5px;
        }


    }

    #headerContainerCenter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 2px #ececec;
        padding-bottom: 4vh;


        form {
            border: solid 2px #bce3c9;
            border-radius: 4px;
            width: 100vh;
            position: relative;

            select, input {
                padding: 2vh;
                outline: none;
                border: none
            }

            input {
                border-left: 1px solid #ececec;
                height: 1px;
            }

            img {
                position: absolute;
                top: 1.5vh;
                right: 1.5vh;
            }

        }

        nav {
            ul {
                display: flex;
                gap: 15px;
                list-style-type: none;

                li {
                    a {
                        color: #7E7E7E;

                        &:hover {
                            color: #000;
                        }
                    }
                }
            }
        }
    }

    #headerContainerBottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10vh;
        border-bottom: solid 2px #ececec;
        padding-bottom: 4vh;

        
        nav {
            
            ul {
                display: flex;
                align-items: center;
                justify-content: space-around;
                gap: 4vh;
                list-style-type: none;
                
                li {

                    #browseAllCategories {
                        background-color: #3BB77E;
                        color: white;
                        font-weight: bold;
                        padding: 20px 40px;
                        position: relative;

                        img {
                            position: absolute;
                            left: 2vh;
                            bottom: 2.75vh;
                        }
                    }

                    a {
                        color: #7E7E7E;

                        &:hover {
                            color: #000;
                        }
                    }

                    #headerLinkWithIcon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                    }
                }
            }
        }

        #headerContactInfo {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

}

main {
    margin-top: 5vh;

    section {
        margin-bottom: 5vh;
        margin-left: 2vh;
    }

    #upBanner {
        background-image: url('/src/images/main/upbanner/slider-1.png');
        background-size: cover;
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        padding-left: 15vh;
        position: relative;

        .upBannerHeader {

            h1 {
                font-size: 50px;
                color: #253D4E;
                width: 100vh;
            }

            p {
                font-size: 28px;
                color:#7E7E7E;
            margin-top: 5vh;

            }
        }

        .BothUpBannerArrows {
            background-color: #F2F3F4;
            width: 45px;
            height: 45px;
            position: absolute;
            border-radius: 6vh;
            font-size: 16px;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: #3BB77E;
            }
        }

        .prev {
            left: 2vh;
        }

        .next {
            right: 2vh;
        }

        form {
            border-radius: 4px;
            width: 100vh;
            position: relative;
            
            img {
                position: absolute;
                top: 1.4vh;
                right: 1.5vh;
            }

            input {
                padding: 2vh;
                outline: none;
                border: none;
                border-left: 1px solid #ececec;
                border-radius: 10vh;
                height: 1px;
                padding: 30px 20px;
                width: 60vh;
            }

            button {
                background-color: #3BB77E;
                padding: 20px 40px;
                font-size: 16px;
                border-radius: 10vh;
                border: none;
                color: white;
                position: absolute;
                right: 40vh;
                top: 0;
                cursor: pointer;
            }
        }
    }

    #featuredCategories {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 2vh;

        
        #featuredCategoriesHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 5vh;

            #featuredCategoriesText {
                display: flex;
                align-items: center;
                gap: 3vh;

                a {
                    color: #7E7E7E;
                }
            }
        }

        #featuredCategoriesArrows {


        }

        #featuredCategoriesCards {
            display: flex;
            gap: 5vh;
            width: 100%;
            overflow-x: scroll;
            scrollbar-width: none;

            .featuredCategoriesCard {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 3vh;
                background-color: #BCE3C9;
            }
        }
        
    }

    #popularProducts {

        #popularProductsHeader {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2vh;

            #popularProductsButtons {
                display: flex;
                gap: 5vh;

                button {
                    background: none;
                    border: none;
                    cursor: pointer;

                    &:hover {
                        color: #3BB77E;
                    }
                }
            }
        }
    }

    #popularProductsCards {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 2vh;

        .popularProductsCard {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 2vh;
            width: 40vh;
            border: solid 1px rgb(228, 217, 217);
            border-radius: 1.5vh;
            padding: 2vh;

            img {
                width: 35vh;
                height: 40vh;
                object-fit: cover;
            }

            .popularProductsRating {
                display: flex;

                img {
                    width: 4vh;
                    height: 4vh;
                }
            }

            .popularProductsPrices {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 3vh;

                .priceDiscounted {
                    text-decoration: line-through;
                    color: #adadad;
                }

                a {
                    color:#3BB77E;
                    background-color: #def9ec;
                    padding: 12px 20px 12px 42px;
                    text-align: right;
                    font-weight: 600;
                    cursor: pointer;
                    border-radius: 1vh;
                    position: relative;

                    img {
                        width: 3vh;
                        height: 3vh;
                        position: absolute;
                        left: 2vh;
                    }
                }
            }
        }
    }
}

footer {

    #footerTop {
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        a {
            color: #253D4E;

            &:hover {
                color: #3BB77E;
            }
        }

        .footerTopDiv {
            display: flex;
            flex-direction: column;
            gap: 2vh;

            img {
                width: 40vh;
                height: 20vh;
            }

            #footerTopBadges {

                img {
                    width: 20vh;
                    height: 10vh;
                    object-fit: contain;
                }
            }
        }
    }

    #footerBottom {
        padding: 2vh;
        border-top: solid 1px #bce3c9;
        display: flex;
        justify-content: space-between;
        align-items: center;

        #socialLinks {
            display: flex;
            flex-direction: column;
            
            div {
                display: flex;
                gap: 2vh;

                ul {
                    list-style-type: none;
                    display: flex;
                    gap: 2vh;
    
                    li {
                        background-color: #3BB77E;
                        border-radius: 5vh;
                        padding-top: 0.75vh;
                        width: 5vh;
                        height: 5vh;
                        bottom: 0;
                        text-align: center;
                        transition: 0.5s ease-in-out;
                        cursor: pointer;
    
                        i {
                            font-size: 15px;
                            color: white;
                        }
    
                        }
                    }
                }
            }
        }
    }
    }
}